<html ng-app="snaphoto">
	<head>
		<title>Snaphoto Photo Manager</title>
		<script src="./bower_components/angular/angular.min.js"></script>
		<script src="./bower_components/angular-animate/angular-animate.js"></script>
		<script src="./app/script.js"></script>
		<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css"></link>
		<link rel="stylesheet" href="./app/style.css"></link>
	</head>
	<body ng-controller="snaphotoCtrl">
		<section class="wrapper container">
			<header class="header container">
				<div class="col-sm-1 nav-burger">
					
				</div>
				<div class="col-sm-4 text-center"><h3>Photo Manager</h3></div>
				<div class="col-sm-4 search-form">
					<input ng-keyup="search()" type="text" class="form-control" ng-model="keyword" placeholder="Search Photos">
				</div>
				<div class="col-sm-3 options">
					<span class="glyphicon glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="arrange(false)"></span>
					<span class="glyphicon glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="arrange(true)"></span>
					<input type="file"><span class="btn btn-default btn-file">Upload</span></input>
				</div>
			</header>
			<div class="container">
				<div class="row" ng-repeat="i in data" ng-if="$index%3==0">
					<div class="image-container col-md-4" ng-if="data[$index]">
						<img ng-src="./photos/{{data[$index].url}}" class="img-responsive" />
						<p class="text-center">
							<span ng-hide="data[$index].editModel">{{data[$index].title}}</span>
							<input ng-model="data[$index].title" ng-show="data[$index].editModel" ng-keydown="updateTitleKeyPress($event,data[$index])" ng-blur="updateTitle(data[$index])" type="text">
							<span class="glyphicon glyphicon-edit" ng-click="toggleEditModel(data[$index])"></span>
						</p>
						<p class="text-center">{{data[$index].taken_time|timestampFormat}}</p>
					</div>
					<div class="image-container col-md-4" ng-if="data[$index+1]">
						<img ng-src="./photos/{{data[$index+1].url}}" class="img-responsive" />
						<p class="text-center">
							<span ng-hide="data[$index+1].editModel">{{data[$index+1].title}}</span>
							<input ng-model="data[$index+1].title" ng-show="data[$index+1].editModel" ng-keydown="updateTitleKeyPress($event,data[$index+1])" ng-blur="updateTitle(data[$index+1])" type="text">
							<span class="glyphicon glyphicon-edit" ng-click="toggleEditModel(data[$index+1])"></span>
						</p>
						<p class="text-center">{{data[$index+1].taken_time|timestampFormat}}</p>
					</div>
					<div class="image-container col-md-4" ng-if="data[$index+2]">
						<img ng-src="./photos/{{data[$index+2].url}}" class="img-responsive" />
						<p class="text-center">
							<span ng-hide="data[$index+2].editModel">{{data[$index+2].title}}</span>
							<input ng-model="data[$index+2].title" ng-show="data[$index+2].editModel" ng-keydown="updateTitleKeyPress($event,data[$index+2])" ng-blur="updateTitle(data[$index+2])" type="text">
							<span class="glyphicon glyphicon-edit" ng-click="toggleEditModel(data[$index+2])"></span>
						</p>
						<p class="text-center">{{data[$index+2].taken_time|timestampFormat}}</p>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>