<html ng-app="snaphoto">
	<head>
		<title>Snaphoto Photo Manager</title>
		<script src="./bower_components/angular/angular.min.js"></script>
		<script src="./bower_components/angular-animate/angular-animate.js"></script>
		<script src="./app/script.js"></script>
		<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css"></link>
		<link rel="stylesheet" href="./app/style.css"></link>
	</head>
	<body ng-controller="snaphotoCtrl">
		<section class="wrapper container">
			<header class="header container">
				<div class="col-sm-1 nav-burger">
					
				</div>
				<div class="col-sm-4 text-center"><h3>Photo Manager</h3></div>
				<div class="col-sm-4 search-form">
					<input ng-keyup="search()" type="text" class="form-control" ng-model="keyword" placeholder="Search Photos">
				</div>
				<div class="col-sm-3 options">
					<span class="glyphicon glyphicon glyphicon-sort-by-order" aria-hidden="true" ng-click="arrange(false)"></span>
					<span class="glyphicon glyphicon glyphicon-sort-by-order-alt" aria-hidden="true" ng-click="arrange(true)"></span>
					<form id="upload" name="upload" action="/" enctype='multipart/form-data' method="post">
					<input type="file" id="file" name="file" onchange="document.getElementById('upload').submit()"></input>
					<span class="btn btn-default btn-file" onclick="document.getElementById('file').click()">Upload</span>
					</form>
				</div>
			</header>
			<div class="container">
				<div class="row clearfix" ng-repeat="i in data" ng-if="$index%3==0">
					<div ng-repeat="idx in [$index,$index+1,$index+2]" class="image-container col-md-4" ng-if="data[idx]">
						<img ng-src="./photos/{{data[idx].url}}" class="img-responsive" />
						<p class="text-center">
							<span ng-hide="data[idx].editModel">{{data[idx].title}}</span>
							<input ng-model="data[idx].title" ng-show="data[idx].editModel" ng-keydown="updateTitleKeyPress($event,data[idx])" ng-blur="updateTitle(data[idx])" type="text">
							<span class="glyphicon glyphicon-edit" ng-click="toggleEditModel(data[idx])"></span>
						</p>
						<p class="text-center">{{data[idx].taken_time| date:'medium'}}</p>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>