.options input[type="file"] {
	display: none;
}
.options input[type="file"] span {
	visibility: visible;
}
.row {
	overflow:hidden;
}
.image-container.ng-enter, .image-container.ng-move,.image-container.ng-leave {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
}
.image-container.ng-enter.ng-enter-active,
.image-container.ng-move.ng-move-active,
.image-container.ng-leave {
   opacity: 0
}
.image-container.ng-leave.ng-leave-active,
.image-container.ng-enter, 
.image-container.ng-move, {
  opacity: 1
}
@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}