.options input[type="file"] {
	display: none;
}
.options input[type="file"] span {
	visibility: visible;
}
.row.ng-enter, .row.ng-move,.row.ng-leave {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
}
.row.ng-enter.ng-enter-active,
.row.ng-move.ng-move-active,
.row.ng-leave {
   opacity: 0;
}
.row.ng-leave.ng-leave-active,
.row.ng-enter, 
.row.ng-move, {
  opacity: 1
}

